
/* 全局样式 */
body{
	padding: 0; 
	margin: 0; 
	font-size: 12px; 
	background: #ededee; 
	color: #444444;
}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p { 
	padding: 0; 
	margin: 0;
	font-weight: normal;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
img{
	border: 0px;
}
.clearfloat{
	clear: both; 
	height: 0px; 
	font-size: 1px; 
	line-height: 0px;
}

/*顶部样式*/
.top_all{ 
	width: 100%; 
	height: 50px; 
	background: #303030;
}
.top{ 
	width: 1200px; 
	height: 50px; 
	margin: 0 auto;
}
.top_l{ 
	width: 208px; 
	height: 50px; 
	float: left;
}
.top_l a{ 
	width: 61px; 
	height: 50px; 
	float: left;
}
.top_l a:nth-child(2){ 
	width: 86px; 
	height: 50px; 
	float: left;
}
.top_r{
	width: 270px;
	height: 50px;
	float: right;
}
.top_r a{
	width: 90px;
	height: 50px;
	float: left;
	color: #fff;
	line-height: 50px;
	font-size: 16px;
}
.top_r .pc_weibo{
	width: 90px;
	height: 50px;
	float: left;
	color: #fff;
	line-height: 50px;
	font-size: 16px;
	text-align: left;
}

.top_r .pc_app{
	width: 90px;
	height: 50px;
	float: left;
	color: #fff;
	line-height: 50px;
	font-size: 16px;
	text-align: right;
	color: #ff0101;
}

/* 微信 */
.weixin{ width:90px; height:50px;position:relative;float: left;}
.weixin a{width:90px; height:42px; display:block; position:absolute; font-size:16px; text-align:center;}
.weixin .weixin_nr{width:90px; height:90px; padding:5px; background:#fff; text-align:center; position:absolute; left: -7px; top:52px; display:none; z-index: 99;}
.weixin .weixin_nr .arrow{ width:0; height:0; border-bottom:10px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent; position:absolute; left:45px; top:-7px;}
.weixin.on .weixin_nr{ display:block;}


/* banner */
.index_banner{
	width: 100%;
	height: 584px;
	margin: auto;
}
.index_banner img{
	width: 100%;
	height: 584px;
	background-size: cover;
	position: relative;
}

/* 导航 */
.nav_cont_top{
	width: 1200px;
	height: 60px;
	float: left;
}
.nav_cont_top a{
	width: 225px;
	height: 60px;
	float: left;
	margin-left: 19px;
	background: url(../images/star_pc_nav_bg.png) no-repeat;
	text-align: center;
	background-size: 100% 100%;
	line-height: 60px;
	font-size: 24px;
	color: #fff;
}
.nav_cont_top a:nth-child(1){
	margin-left: 0;
}
.nav_cont_top a:nth-child(5){
	margin-left: 18px;
}
.nav_cont_top .current{
	background: url(../images/star_pc_nav_xzbg.png) no-repeat;
	color: #ff0101;
}
.nav_cont_top a:hover{
	background: url(../images/star_pc_nav_xzbg.png) no-repeat;
	color: #ff0101;
}


/* 版权样式 */
.copyright_all{
	width: 100%;
	height: 120px;
	background: #303030;
	margin-top: 80px;
}
.copyright{
	width: 1200px;
	height: 80px;
	padding: 20px 0;
	margin: auto;
}
.copyright li{
	width: 1200px;
	height: 40px;
	float: left;
	line-height: 40px;
	color: #666666;
	font-size: 18px;
	text-align: center;
}

































